.splash-trusted-companies {
    display: flex;
    flex-direction: column;
    background-color: #F4EDE4;
    /* justify-content: center; */
    /* flex-grow: 1; */
    align-items: center;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    gap: 20px;
    border-radius: 100% / 50%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.splash-companies {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:70px;

}

.company-image {
    height: 50px;
    width: 50px;
}

.splash-companies a {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.splash-body-title {
    color: black;
    margin: 0px;
}

.splash-companies a {
    text-decoration: none;
    color: black
}

.splash-body-content {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.splash-body-content-text {
    color: black;
    font-weight: bold;
}
.left-body-splash-gif {
    margin: 10px;
    /* background-color: #ccb596; */
    box-shadow: -50px -16px #ECB22E;
    /* padding: 10px; */
    border-radius: 5px;
}
.body-splash-gif{
    margin: 10px;
    /* background-color: #ccb596; */
    box-shadow: 50px -16px #ECB22E;
    /* padding: 10px; */
    border-radius: 5px;
    /* border-radius: 100% / 900%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; */
}
.left-body-splash-gif img, .body-splash-gif img {
    height: 100%;
    width: 500px;
    /* border: 1px solid transparent; */
    border-radius: 4px;
}
