.splash-nav {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    background-color: #581859;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 600;
    gap: 30px;
    align-items: center;

}

.top-splash-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.top-splash-nav-right, .top-splash-nav-left {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* justify-content: space-around */
}



.demo-login {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #581859;
    font-weight: 800;
}

.demo-login:hover {
    border: 1px solid #581859;
}
a .splash-sign-up {
    text-decoration: none;
}

.sign-up-splash {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.modal-button-log-in {
    color: white;
    font-weight: 600;
}

.first-title, .second-title {
    font-size: 60px;
    margin: 0px;

}

.second-title {
    color: #ECB22E
}

.splash-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px

}

.modal-button-sign-up {
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #581859;
    font-weight: 800;
}
.modal-button-sign-up:hover {
    border: 1px solid #581859;
}
.top-splash-gif{
    background-color: #4B154B;
    /* padding-right: 30px; */
    /* border-radius: 100% / 90%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; */
}
.top-splash-gif img {
    height: 100%;
    width: 500px
}
.top-splash-nav-wrapper {

    max-width: 1100px;
}
