/* TODO Add site wide styles */
html{
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    height: 100%;
    min-height: 100%;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* height:100%; */
    min-height: 100%;
    overflow: hidden;
    /* scrollbar-color: black purple; */
    background-color: rgb(34, 34, 37);
}


.nav-list-wrapper {
    /* width: fit-content; */
    width: 20%;
    /* overflow:hidden;
    text-overflow: ellipsis; */
    /* height: auto;
    white-space: nowrap; */
    background-color: rgba(37, 37, 38, 1);
    /* margin:20px; */
    border: 1px solid rgb(87, 86, 86);
}

.site {
    display: flex;
    /* justify-content: space-between; */
    max-width: 100vw;
    /* height: 100%; */
    height: 100vh;
    /* border: 1px solid rgba(64, 64,64, 1); */

    color: rgb(238, 238, 238)
}

button {
    background: transparent;
    border-style: none;
    cursor: pointer;
}

input {
    background-color: rgba(37, 37, 38, 1);
    color: rgb(238, 238, 238);
    border-radius: 5px;
    border: 3px solid rgb(87, 86, 86);
    outline: none;
    resize: none;
}

::placeholder{
    color: rgb(165, 163, 161);
}

.nav-right-list-wrapper {
    height: 100%;
    width: fit-content;
    min-width: 20%;
    position: absolute;
    z-index: 1;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgba(37, 37, 38, 1);
    /* margin:20px; */
    border: 1px solid rgb(87, 86, 86);
}
