.splash-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* background-color: rgb(59, 59, 61); */
    /* align-items: center; */
}

.login {

    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* top: 25%; */
    justify-content: center;
    width: 100%;
    align-items: center;
    gap:5px
}
.login h1 {
    margin: 0px;
    margin-bottom: 10px;
}
.login-button {
    color: rgb(238, 238, 238);
    border: 1px solid;
    gap: 10px;
    height: 40px;
    width: 300px;
    border-radius: 3px;
    font-weight: bold;

}
.login-button:hover {
    background-color: white;
    color: #19161D;
}
.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.sign-up{
    display: flex;
    flex-direction: column;
}

.sign-up-wrapper{
    display: flex;
    justify-content: flex-end;
}

.test {
    text-decoration: none;
    background-color: transparent;
    background: none;
}

.email-input, .password-input {
    height: 25px;
    width: 100%;
    background-color: #F2EAE4;
    color: black;
    gap: 20px;
    /* border-radius: 1px; */
}

.error-handling {
    color: white;
}

.errors {
    color: red;
    text-align: center;
}

.login-img {
    height: 203px
}
