.splash-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(59, 59, 61);
    /* align-items: center; */
}

.login {

    display: flex;
    flex-direction: column;
    position: relative;
    top: 25%;
    /* justify-content: center; */
    align-items: center;
}
.login-button {
    color: rgb(238, 238, 238);
    border: 1px solid;
    gap: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.sign-up{
    display: flex;
    flex-direction: column;
}

.sign-up-wrapper{
    display: flex;
    justify-content: flex-end;
}

.test {
    text-decoration: none;
    background-color: transparent;
    background: none;
}
