.profile-dropdown {
  position: absolute;


  background-color: rgb(87, 86, 86);
  width:125px;
  padding: 5px;

}

.hidden {
  display: none;
}


.side-nav div a{
  text-decoration: none;
  color:white

}

.side-nav {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  gap:10px;
  border-top: 1px solid rgb(87, 86, 86);
  padding: 20px;
}

.channel-nav {
  display:flex;
  justify-content: space-between;
}
