.chat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    /* background-color: white; */
}

p {
    margin: 0px;
    padding:1px;
}

.chat-name {
    font-weight: bold;
}

.ChannelById {
    /* margin: 20px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.message-wrapper{
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

.chat-box{
    width: 100%;
    height: 80px
}

.message-button {
    color: white;
}

.chat-form {
    /* display: flex;
    flex-direction: row;
    width:90%;
    justify-content: space-between;
    overflow-y:hidden; */

}

#edit-message.edit-box{
    width: 100%
}

.chat-box-error {
    border: 3px solid red;
    width: 100%;
    height: 80px
}

.message {
    word-break:break-all;
    /* hyphens: auto; */
}
textarea.edit-box-error::placeholder, textarea.chat-box-error::placeholder  {
    color: red
}

.edit-box-error {
    border: 3px solid red;

}

.hide-edit-delete {
    display:none;

}

.chat:hover  .hide-edit-delete {
    display:block;
    border: 1px solid rgb(87, 86, 86);
    padding-top: 8px;
    border-radius: 3px;
}

.chat:hover{
    background-color: rgb(39, 38, 38);;

}
.edit-button, .delete-button {
    color: white;
}

.edit-button-text, .delete-button-text, .confirm-delete-button-text, .cancel-delete-button-text {
    visibility: hidden;
    position: absolute;
    margin-top: -50px;
    z-index: 1;
    border: 1px solid rgb(87, 86, 86);
    border-radius: 3px;
    padding: 5px;
    color: white;
    background-color: black;
}
.edit-button:hover .edit-button-text{
    visibility: visible;
}
.delete-button:hover .delete-button-text{
    visibility: visible;
}
.fa-solid, .fa-regular {
    color: white;
}

.confirm-delete-button:hover .confirm-delete-button-text{
    visibility: visible;
    color: white;
}
.confirm-delete-button {
    position: relative;
}
.cancel-delete-button:hover .cancel-delete-button-text{
    visibility: visible;

}

.delete-confirmation-buttons {
    display:block;
    border: 1px solid rgb(87, 86, 86);
    padding-top: 8px;
    border-radius: 3px;
}

.char-over-limit {
    color: red;
}
.message-box {
    width: 100%
}

.chat-area {
    
    width: 100%
}


.chat-area-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
    width:100%
}

.chat-area-right-navigation {
    display: flex;
    flex-direction: row;
    height:100%
}
