.chat {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

p {
    margin: 0px;
    padding:1px;
}

.chat-name {
    font-weight: bold;
}

.ChannelById {
    margin: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-wrapper{
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

.chat-box{
    width: 100%;
    height: 80px
}

.message-button {
    color: white;
}

.chat-form {
    display: flex;
    flex-direction: row;

}

#edit-message.edit-box{
    width: 100%
}

.chat-box-error {
    border: 3px solid red;
    width: 100%;
    height: 80px
}

.message {
    word-break:break-all;
    /* hyphens: auto; */
}
textarea.edit-box-error::placeholder, textarea.chat-box-error::placeholder  {
    color: red
}

.edit-box-error {
    border: 3px solid red;

}
