.chat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

p {
    margin: 0px;
    padding:1px;
}

.chat-name {
    font-weight: bold;
}

.ChannelById {
    margin: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-wrapper{
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

.chat-box{
    width: 100%;
    height: 80px
}

.message-button {
    color: white;
}

.chat-form {
    display: flex;
    flex-direction: row;

}

#edit-message.edit-box{
    width: 100%
}

.chat-box-error {
    border: 3px solid red;
    width: 100%;
    height: 80px
}

.message {
    word-break:break-all;
    /* hyphens: auto; */
}
textarea.edit-box-error::placeholder, textarea.chat-box-error::placeholder  {
    color: red
}

.edit-box-error {
    border: 3px solid red;

}

.hide-edit-delete {
    display:none;

}

.chat:hover  .hide-edit-delete {
    display:block;
    border: 1px solid rgb(87, 86, 86);
    padding-top: 8px;
    border-radius: 3px;
}

.edit-button {
    color: white;
}

.edit-button-text {
    visibility: hidden;
    position: absolute;
    margin-top: -35px;
    z-index: 1;

}
.edit-button:hover .edit-button-text{
    visibility: visible;
}
