.chat {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

p {
    margin: 0px;
    padding:1px;
}

.chat-name {
    font-weight: bold;
}

.ChannelById {
    margin: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message{
    display: flex;
    justify-content: space-between;
}

.chat-box{
    width: 100%;
    height: 80px
}

.message-button {
    color: white;
}

.chat-form {
    display: flex;
    flex-direction: row;
    
}
