.sign-up-page {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
}

.sign-up-form {
    display:flex;
    flex-direction: column;
    width: 30%;
    gap: 20px
}

.email-error, .username-error, .password-error {
    border: 1px solid red;

}

.text-error {
    color:red
}

.sign-up-form input {
    width: 100%;
    gap: 20px;
    height: 50px
}
