.sign-up-page {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
}

.sign-up-form {
    display:flex;
    flex-direction: column;
    width: 30%;
    gap: 20px
}

.email-error, .username-error, .password-error {
    border: 1px solid red;

}

.text-error {
    color:red
}

.sign-up-form input {
    width: 100%;
    gap: 20px;
    height: 50px
}


.hide-email-text {
    visibility: hidden;
    position: absolute;
    margin-top: -50px;
    z-index: 1;
    border: 1px solid rgb(87, 86, 86);
    border-radius: 3px;
    padding: 5px;
    color: white;
    background-color: black;
}

.email:hover .hide-email-text{
    visibility: visible;
}

.sign-up-button {
    background-color: white;
    border: 1px solid black;
}
