.sign-up-page {
    /* margin-top: 200px; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: white; */
}

.sign-up-form {
    display:flex;
    flex-direction: column;
    /* width: 40%; */
    gap: 10px;
    justify-content: center;
}

.email-error, .username-error, .password-error {
    border: 1px solid red;

}

.text-error {
    color:red;
    text-align: center;
}

.sign-up-form input {
    width: 100%;
    gap: 20px;
    height: 25px;
    background-color: #F2EAE4;
    color: black;
}

.sign-up-form label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.hide-email-text {
    visibility: hidden;
    position: absolute;
    margin-top: -50px;
    z-index: 1;
    border: 1px solid rgb(87, 86, 86);
    border-radius: 3px;
    padding: 5px;
    color: white;
    background-color: black;
}

.email:hover .hide-email-text{
    visibility: visible;
}

.sign-up-button {
    color: rgb(238, 238, 238);
    border: 1px solid;
    gap: 10px;
    height: 40px;
    /* width: 300px; */
    border-radius: 3px;
    font-weight: bold;
}

.sign-up-button:hover {
    background-color: white;
    color: #19161D;
}
.admin-sign-up {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px


}
input.sign-up-checkbox {
    width:20px;
}
