.profile-dropdown {
  position: absolute;
  right: 10px;
  top: 25px;

  background-color: rgb(87, 86, 86);
  /* width:125px; */
  padding: 5px;

}

.hidden {
  display: none;
}


.nav-channel-title{
  text-decoration: none;
  color:#9D9AA1

}


.side-nav {
  display:flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap:10px;
  border-right: 1px solid rgb(87, 86, 86);
  /* padding: 20px; */
  /* padding-left: 20px;
  padding-right: 20px; */
  /* margin-right: 20px; */
  width: 20%;
  height: 100%;
  background-color: #19161D;
}

.channel-nav, .channel-nav-highlight {
  display:flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;

}

.channel-nav-highlight {
  border: 1px solid #126DA6;
  border-radius: 5px;
  background-color: #126DA6;
  color: azure;

}
.nav-channel-title-highlight {
  color:#F5FFFF;
  text-decoration: none;
}
.nav-channel-title, .nav-channel-title-highlight {
  /* width: 250px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-button .fa-user {
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(8, 44, 44);
  background-color: rgb(8, 44, 44);
  width: 25px;
  height: 25px;
  border-radius: 6px;
  margin: 2px;
  /* font-size: 25px; */
}

.channel-header {
  padding-left: 20px;
  padding-right: 20px;
}

.modal-button {
	/* background: none; */
    /* color: rgb(238, 238, 238); */
	/* border: none; */
	/* padding: 0; */
	/* font: inherit; */
	/* cursor: pointer; */
	/* outline: inherit; */
  /* padding-left: 16px;
  padding-right: 20px; */
  color:#9D9AA1
}

.add-channel{
	display:flex;
	flex-direction: row;
	justify-content:left;
	gap: 5px;

}

.fa-plus {
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9D9AA1;
  background-color: #9D9AA1;
  width: 16px;
  height: 16px;
  border-radius:3px;
  font-size: 10px;
}
