.profile-dropdown {
  position: absolute;


  background-color: rgb(87, 86, 86);
  /* width:125px; */
  padding: 5px;

}

.hidden {
  display: none;
}


.side-nav div a{
  text-decoration: none;
  color:white

}


.side-nav {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  gap:10px;
  border-right: 1px solid rgb(87, 86, 86);
  padding: 20px;
  width: 20%;
  height: 100%;
}

.channel-nav {
  display:flex;
  justify-content: space-between;

}

.nav-channel-title {
  /* width: 250px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
