.reply {
    color: white;
}

.chat-area, .chat-content-channel {
    overflow-y:hidden;
    width:100%;
    /* scrollbar-color: red yellow; */
}

.chat-content-channel:hover {
    overflow-y:auto;
    height:94%
}
