.reply-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width:100%; */
    /* gap:20px; */
    margin-bottom:5px;
    gap:5px;
    padding-bottom: 33px;
}

.reply-area {
    width: 100%;
    margin-right:5px;
    margin-left: 5px;
}
