.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    height: 2.5%;
    /* position: absolute; */
    border-bottom: 1px solid rgb(87, 86, 86);
    /* position: absolute;
     */
    background-color: #120F16;

}

.fa-linkedin, .fa-github{
    /* text-decoration: none; */
    /* display:block; */
    color: white;

    font-size: 30px;
}

.fa-house {
    color: white;
    padding-top: 4px;
    padding-left: 5px;
    font-size: 25px;
}
