.id-hide{
    display: none;
}

.create-channel-modal {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    overflow: hidden;
}

.create-channel-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap:180px; */
}
