.replies-thread {
    border-left: 1px solid rgb(218, 211, 211);
    /* background-color: rgb(34, 34, 37); */
    height: 100%;
    min-width: 25%;
    padding-left: 30px;
    padding-right: 30px;
}

.reply-box-error {
    border: 3px solid red;
    width: 100%;
    height: 80px;
    overflow: hidden;
}

.reply-box {
    width: 100%;
    height: 80px
}

input.reply-box-error::placeholder {
    color: red
}
