.chat-input {
    width:100%;
    display: flex;
    flex-direction: row;
}
.chat-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width:90%; */
    /* gap:20px; */
    margin:5px;
    padding-bottom: 24px;
}
